<div class="text-center">
  <h2 class="text-3xl">{{name}}</h2>
  <p class="bg-teal-950 text-white">{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <button class="btn btn-primary"></button>
  </p>
</div>
